{% extends "blog/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/login.css' %}">

{% block title %}Register{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'blog/css/register.css' %}">
{% endblock %}

{% block content %}
<h2>Create an account</h2>
<form method="post" novalidate>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign up</button>
</form>
<p>Already have an account? <a href="{% url 'blog:login' %}">Log in</a></p>
{% endblock %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
